# System Configuration
ECOSYSTEM_NAME=
CHAIN_NAME=
CHAIN_ID=
L1_NETWORK=
LINK_TO_CODE=
LOKI_URL=
LOKI_USERNAME=
LOKI_PASSWORD=

# Database Configuration
POSTGRES_PASSWORD=
# Network Configuration
L1_RPC_URL=
FAUCET_ADDRESS=
FAUCET_PRIVATE_KEY=

# Deployment Configuration
DEPLOY_ERC20=
DEPLOY_ECOSYSTEM=
DEPLOY_PAYMASTER=
OBSERVABILITY=

# Skip Flags
SKIP_CREATE_ECOSYSTEM=
SKIP_INIT_ECOSYSTEM=

# Performance Configuration
PRIORITY_GAS_PRICE=
FAUCET_AMOUNT_ETH=
